Source: cradle_exporter
Section: utils
Priority: optional
Maintainer: Ryo Hirafuji <ryo.hirafuji@link-u.co.jp>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/link-u/cradle_exporter
Vcs-Git: https://github.com/link-u/cradle_exporter.git
Vcs-Browser: https://github.com/link-u/cradle_exporter.git

Package: cradle_exporter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A cradle of prometheus exporters.
